<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自动解归档.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB61D7781D600479007DD880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB61D7911D600479007DD880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB61D79C1D600479007DD880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
